{
  "printWidth": 100,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "importOrder": ["^react$", "^@material-ui/(.*)$", "^[^.]*$", "^[./]"],
  "importOrderSeparation": true
}
